turisouvenir <turinumugishasouvenir@gmail.com>
Jefferson Wu <jeffersonw888@gmail.com>  JeffersonWu25 <142441209+JeffersonWu25@users.noreply.github.com>
Souvenir Turinumugisha <74837665+turisouvenir@users.noreply.github.com>
FayMa331 <fayma2029@u.northwestern.edu>     FayMa331 <faymmma@gmail.com>
Stanley Hir <stanleyhir2027@u.northwestern.edu> stanleyhir <stanleyhir2027@u.northwestern.edu>
Andy Wu <andywu2025@u.northwestern.edu>     sierrawu-1104 <andywu2025@u.northwestern.edu>
Chloe Smith <abbymiggiani2026@u.northwestern.edu>
daminiiyer <daminigiyer@gmail.com>  daminiiyer2026-boop <daminiiyer2026@u.northwestern.edu>
Gabriel Hsieh <gabrielhsieh2026@u.northwestern.edu>     Gabriel Hsieh <gabrielhsieh2026@u.northwestern.edu>
yiminlearnscoding <106649531+amoveablefeastym@users.noreply.github.com>     yiminhuang <yminh@dhcp-10-105-248-206.wireless.northwestern.private>
Jackpress2027 <jackpress2027@u.northwestern.edu>    Jack-Press <jackpress6@gmail.com>